/**/.idea/workspace.xml
/tmp
/test_data/tmp*
/.cov_profile
/dist/*.zip
/tmp.ts
/.idea/vcs.xml
/.idea/active-tab-highlighter.xml
/.idea/jpa-buddy.xml
/.idea/google-java-format.xml
/.idea/inspectionProfiles
/.idea/sonarlint/
/.idea/
