body {
  padding: 10px;
  position: absolute;
}

.app {
  display: flex;
  align-items: start;
}

.ko {
  background-color: red;
  position: absolute;
  height: 200px;
  width: 100%;
  font-size: 40px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.story {
  position: relative;
  display: flex;
  flex: 0;
}

.item {
  flex: 0;
  display: flex;
  align-self: start;
}
.story-audio {
  border: #1c2aa9 solid 10px;
  border-radius: 50px;
  padding: 10px;
}
.StageNode-StoryItem {
  align-items: center;
}
.card {
  border: #aaa solid 3px;
  box-shadow: 6px 6px 8px #bbb;
  padding: 10px;
  margin-bottom: 15px;
  flex: 0;
}
.StageNode-Menu > .card {
  border: #ff8a8a dashed 8px;
}
.StageNode-Menu.several > .card {
  border: #8ac1ff dashed 8px;
}
.StageNode-Entrypoint > .card {
  border: #ff3232 solid 8px;
}
.line {
  min-width: 80px;
  /*display: none;*/
  /*position: absolute;*/
}

.line > svg  {
  position: absolute;
}

.story-node-svg {
  position: absolute;
}
.story-line {
  width: 36px;
  height: 20px;
}
.empty {
  min-height: 80px;
  min-width: 80px;
}

.folder-path {
  font-family: monospace;
  vertical-align: middle;
}
.preview-title {
  margin-bottom: 20px;
  padding: 10px;
  font-size: 25px;
  border-bottom: #888 solid 3px;
}
.config {
  display: grid;
  column-gap: 20px;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
}
.zoom {
  display: flex;
}
.zoom > sl-range {
  flex: 1;
  margin-left: 20px;
}

.ZipMenu {
  font-size: 50px;
}
