body {
    margin: 20px;
}

.app {
display: flex;
align-items: start;
}

.ko {
    background-color: red;
    position: absolute;
    height: 200px;
    width: 100%;
    font-size: 40px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (prefers-color-scheme: light ){
  body{
    background-color: #fff;
    color: #000;
  }
}
@media (prefers-color-scheme: dark){
  body{
    background-color: #222;
    color: #fff;
  }
}
.children{
  margin-left: 40px;
}

.story {
  display: flex;
  /*border: #1c2aa9 solid 2px;*/
  /*border-radius: 5px;*/
  margin-bottom: 15px;
  flex: 0;
}

.item {
  flex: 0;
  display: flex;
  align-self: start;

}
.story-audio{
  margin-left: 20px;
  border: #1c2aa9 solid 10px;
  border-radius: 50px;
  padding: 10px;
}
.StageNode-StoryItem {
  align-items: center;
}
.card {
    border: #aaa solid 3px;
    box-shadow: 6px 6px 8px #bbb;
    padding: 10px;
}
.StageNode-Menu > .card{
  border: #ff8a8a dashed 8px;
}
.StageNode-Menu.several > .card{
  border: #8ac1ff dashed 8px;
}
.StageNode-Entrypoint {
  border: #ff3232 solid 8px;
}
